
.idea/.name

.idea/artifacts/ecms_apps_gadget_favorites_war_exploded.xml

exo-addons-space-categories-extension-component/exo-addons-space-categories-extension-component.iml

*.iml

exo-addons-space-categories-extension-component/src/main/resources/rebel-remote.xml

exo-addons-space-categories-extension-component/src/main/resources/rebel.xml

exo-addons-space-categories-extension-portlet/.idea/.name

exo-addons-space-categories-extension-portlet/.idea/artifacts/apl_space_navigation_juzuportlet_war_exploded.xml

exo-addons-space-categories-extension-war/src/main/resources/rebel-remote.xml

exo-addons-space-categories-extension-war/src/main/resources/rebel.xml

exo-addons-space-categories-extension-portlet/src/main/resources/rebel-remote.xml

exo-addons-space-categories-extension-portlet/src/main/resources/rebel.xml
